
.header {
    text-align: center;
    margin-bottom: 30px;
    width: 60%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}

.header h2 {
    font-size: 2em; /* Larger font size for the title */
    color: #333; /* Darker text color */
}

.header h2 span {
    color: #01A1ED; /* Highlighted text */
}
.textHighlight {
    background-color: rgb(243, 243, 120);
}
.dragDropArea {
    text-align: center;
    margin-bottom: 20px;
    border: 1px dashed #DBE0E5;
    border-radius: 5px;
    padding: 30px;
    margin-top: 50px;
    cursor: pointer;
}
.dragDropArea:hover {
    box-shadow:0px 15px 30px rgb(0 0 0 / 10%);
    transition:all .4s;
}

.dragDropArea .iconWraps {
    margin-bottom: 60px;
    margin-top: 0;
}
.dragDropArea h3 {
    margin: 5px 0;
    color: #555; /* Subtle text color */
    font-size:18px;
}
.dragDropArea span {
    color: #555; /* Subtle text color */
    font-size:18px;
    font-weight: bold;
}
.dragDropArea > div {
    margin-top: 15px;
}
.uploadButton {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s; /* Smooth transition */
    background: #01A1ED;
    color: #fff;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.filePreviewContainer {
    display: flex;
    gap: 5px;
}

.previewFile, .actionContainer {
    display: flex;
    width: 50%;
    overflow: auto;
    background: #fff; /* White background for sections */
    padding: 10px;
    border-radius: 5px; /* Rounded corners for child containers */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
    border: 1px solid #ccc;
}
.previewFile {
    align-items: center;
}
.loaderWrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader {
    width: 24px;
    height: 24px;
    border: 3px solid #d1d5db; /* gray */
    border-top-color: #01A1ED;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

.actionContainer {
    
    flex-direction: column;
    align-items: center; /* Center the buttons */
    justify-content: space-between;
}
.actionContainer p {
    color: #151515;
    font-weight: 600;
    font-size: 23px;
    align-content: center;
    flex: 1;
}

.actionContainer button {
    padding: 12px 24px;
    background-color: #01A1ED; /* Consistent button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
    align-self: flex-end;
    
}

.actionContainer button:hover {
    background-color: #005bb5; /* Darker shade on hover */
}

.nextButton {
    margin-top: 20px; /* Space between buttons */
}
.buttonGroup {
    align-self: flex-end;
}
.actionContainer button.cancelButton {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
    margin: 0 5px;
}
.cancelButton:hover {
    background-color: #5c636a;
    border-color: #565e64;
}