/* header.module.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #fff;
    height: 54px;
  }
  
  .logo {
    width: 100px;
    height: auto;
    cursor: pointer;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .nav li {
    list-style: none;
    display:inline;
    margin:0 10px;
    position:relative;
  }
  .nav li i {
    font-size: 15px;
    transition: transform 0.3s ease;
    margin-left:2px;
  }
  .nav li:hover i {
    transform: rotate(180deg);
  }
  .nav li ul {
    position: absolute;
    top: 120%;
    left: 0;
    min-width: 140px;
    background: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    border-radius: 6px;
    padding: 6px 0;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.25s ease;
    z-index: 50;
  }
  .nav li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  
  .nav a {
    text-decoration: none;
    color: #151515;
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  
  .nav a:hover {
    color: #01A1ED;
  }
  